/*connection/register*/
#connectAndRegister{
	width:50%;
	margin: 0 auto;


}

#connection-switch{
 margin-right:-3px;

}

#connection-switch.active{
	background-color:#fff;
	color:#000;
}


#left-bar a{
	display: block;

}

#connection-switch.active{
	background-color:#fff;
	color:#000;

}
#connection-switch:target{
	border:none;
	color:red;
}

#register-switch{
	margin-left:-3px;
}


#name{
	margin-top:1.5em;
	text-align:center;
	font-size:1.5em;
}

/**/

#connection-switch:target{
	border:none;
	color:red;
}

#register-switch{
	margin-left:-3px;
}


.info-comment{
	position:absolute;
	bottom:0em;
	right:1em;
}
