/*for var_dump show correctly*/

pre.xdebug-var-dump{
	width:80%;
	float:right;
	right:1em;
}

header{
	width:85%;
	position:absolute;
	top:0em;
	right:0em;
}

nav#menu{
	text-align:center;
	font-size: 0;
}

nav#menu a{
	padding: 0.5em;
	background: red;
	font-size:1rem;
}


#menu li{
	display:inline-block;
	margin:0em;
	background-color:blue;
	color:#fff;
	font-size:1.5em;
}

/*left-bar*/

#left-bar{
	width:15%;
	height:100%;
	position:fixed;
	top:0em;
	background-color:red;
	padding-top:1em;
}

#left-bar a{
	display: block;
}

#circle-img{
	padding: 1em;
	width:8em;
	height:8em;
	margin:0 auto;
	border:1px solid black;
	border-radius:50%;
}

#left-bar #photo{
	width:100%;
}

#name{
	margin-top:1.5em;
	text-align:center;
	font-size:1.5em;
}

/**/

#content{
	width:85%;
	float:right;
	margin-top:1em;
	right:0em;
}


#post-list{
	width:80%;
}

#post-list li{
	margin:0 auto;
}

#post-list .img-post{
	width:20%;
	float:left;
	left:0em;
}

#post-list .content-post{
	width:70%;
	float:left;
	left:0em;
}


