<form method="post">
	<input type="text" placeholder="pseudo" name="pseudo"/>
	<input type="email" placeholder="mail" name="mail"/>
	<input type="password" placeholder="pass" name="pass"/>
	<input type="submit" />
</form>

{% if error != false %}
    {% for err in error %}
    	<li>{{err}}</li>
	{% endfor %}
{% endif %}

