<form method="post">
	<input type="text" placeholder="pseudo" name="name"/>
	<input type="email" placeholder="mail" name="mail"/>
	<input type="password" placeholder="pass" name="pass"/>
	<input type="submit" />
</form>


    {% for err in error %}
    	<li>{{err}}</li>
	{% endfor %}


