<div class="col-sm-3">
    <!-- Left column -->
    <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>



    <ul class="nav nav-stacked">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Administration <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="userMenu">
                <li class="active"> <a href="/adminPanel/accountValidation"><i class="glyphicon glyphicon-user"></i> Account</a></li>
                <li><a href="/adminPanel/addPost"><i class="glyphicon glyphicon-book"></i> Post</a></li>
                <li><a href="/adminPanel/commentValidation"><i class="glyphicon glyphicon-comment"></i> Commentaire</a></li>
                
            </ul>
        </li>
    </ul>
</div>